<aside>
  <nav class="sidebar-nav">
    <a href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
    {% for page in site.pages %}
      {% if page.title and page.layout == "page" %}
        <a href="{{ page.url | relative_url }}" {% if site.url contains page.url %} class="active"{% endif %}></a>
          {{ page.title }}
        </a>
      {% endif %}
    {% endfor %}
    <details open>
      <summary>guides</summary>
      <dl>
        {% for guide in site.guides %}
        <a href="{{ guide.url | relative_url }}">{{ guide.title }}</a>
        {% endfor %}
      </dl>
    </details>
    <details>
      <summary>posts</summary>
      <dl>
        {% for post in site.posts %}
        <a href="{{ post.url }}">{{ post.title }}</a>
        {% endfor %}
      </dl>
    </details>
  </nav>
</aside>