.latest-release {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $padding-size;

  img {
    width: 100%;
    height: auto;
    border: 1px solid $border-colour;
    margin: $padding-size;
    margin-bottom: 0;
  }

  .theme-info {
    display: flex;
    flex-direction: column;
    gap: $padding-size;
    padding: $padding-size;
  }
}