header {
  display: flex;
  flex-direction: column;
  height: $header-height;
  position: sticky;
  top: 0;
  background-color: color-mix(in srgb, transparent 50%, $background-colour 50%);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid $border-colour;
  z-index: 69;
}

.header-inner {
  align-items: center;
  height: 100%;
}

#breadcrumbs {
  display: flex;
  border-top: 1px solid $border-colour;
}

.breadcrumbs-inner {
  align-items: center;
  font-size: 0.9rem;
  font-family: $mono-font;
  line-height: normal;
  padding: calc($padding-size / 4) $padding-size;

  .material-symbols {
    font-size: 1rem;
    width: 1rem;
  }
}

.header-nav {
  margin-left: auto;

  a,
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    color: $accent-colour;
    background-color: transparent;
    border-radius: $corner-rounding;

    &:hover {
      background-color: $card-colour;
    }
  }

  .menu-button {
    transition: all 200ms ease-in-out;

    .close,
    &.active .hamburger {
      display: none;
    }

    &.active .close {
      display: flex;
    }
  }

  #theme-switch {
    color: light-dark($blue, $yellow);
    transition: all 200ms ease-in-out;

    &:hover {
      background-color: $card-colour;
    }
  }
}

html[style="color-scheme: light;"] .light-theme,
html[style="color-scheme: dark;"] .dark-theme {
  display: block;
}

html[style="color-scheme: light;"] .dark-theme,
html[style="color-scheme: dark;"] .light-theme  {
  display: none;
}

@media (prefers-color-scheme: light) {
  .light-theme {
    display: block;
  }
  .dark-theme {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .light-theme {
    display: none;
  }
  .dark-theme {
    display: flex;
  }
}