#layout {
  min-height: calc(100dvh - $header-height);
}

.layout-inner {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  margin: $padding-size auto;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

article {
  position: relative;

  > * {
    margin: $padding-size 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

table {
  width: 100%;

   td {
    &.book-status {
      &[data-sort] {
        span {
          font-size: 0.9rem;
          padding: 1px 8px;
          border-radius: 50px;
        }
      }

      &[data-sort="1"] {
        span {
          background-color: color-mix(in srgb, $green 30%, $background-colour 70%);
        }
      }

      &[data-sort="2"] {
        span {
          background-color: color-mix(in srgb, $blue 30%, $background-colour 70%);
        }
      }

      &[data-sort="3"] {
        span {
          background-color: color-mix(in srgb, $purple 30%, $background-colour 70%);
        }
      }

      &[data-sort="4"] {
        span {
          background-color: color-mix(in srgb, $red 30%, $background-colour 70%);
        }
      }
    }

    &.book-rating {
      display: inline-table;

      span {
        display: block;
        font-family: "Material Symbols";
        font-variation-settings: 'FILL' 1;
        background-color: goldenrod;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &.book-date {
      font-family: $mono-font;
    }
  }
}