#layout {
  display: flex;
  flex-direction: column;
}

.layout-inner {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  gap: $padding-size;
  min-height: calc(100dvh - $header-height);
}

/********** ASIDE **********/

aside {
  border-right: 1px solid $border-colour;
  padding-right: $padding-size;

  nav {
    display: grid;
    gap: 0.75rem;
    position: sticky;
    top: calc($header-height + $padding-size);
    margin-top: $padding-size;

    a {
      overflow: hidden;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      &:hover,
      &.active {
        color: $accent-colour;
        background-color: $accent-card;
        border-radius: 5px;
        padding: 0.25rem 0.5rem;
        margin: -0.25rem -0.5rem;
      }
    }

    details {
      display: block;

      summary {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: $padding-size;
        color: $link-colour;
        white-space: nowrap;
        user-select: none;
        cursor: pointer;
        transition: all 200ms ease-in-out;

        &:hover {
          color: $accent-colour;
          background-color: $accent-card;
          border-radius: 5px;
          padding: 0.25rem 0.5rem;
          margin: -0.25rem -0.5rem;
        }

        &::after {
          content: 'keyboard_arrow_down';
          font-family: 'Material Symbols';
          font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
          font-size: 1.5rem;
          line-height: 1;
          transition: block-size 100ms ease-in, 100ms opacity 100ms ease-in, content-visibility 100ms linear allow-discrete;
        }
      }

      &[open] summary {
        color: var(--accent);
      }

      &[open] summary::after {
        content: 'keyboard_arrow_up';
        transition: all 150ms ease-in-out;
      }

      &::details-content {
        block-size: 0;
        opacity: 0;
        content-visibility: hidden;
        transition: block-size 100ms ease-out, opacity 100ms ease-out, content-visibility 100ms linear allow-discrete;
      }

      &[open]::details-content {
        block-size: auto;
        opacity: 1;
        content-visibility: visible;
      }
    }
  }
}

/********** MAIN CONTENT **********/

section {
  margin: $padding-size 0;
}

article {
  anchor-name: --toc-anchor;
  position: relative;

  >* {
    margin: $padding-size 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: $accent-colour;
    text-decoration: underline;

    &:hover {
      color: $text-colour;
    }
  }
}

table {
  width: 100%;

  td {
    &.book-status {
      &[data-sort] {
        span {
          display: none;
        }

        &::after {
          color: light-dark(black, white);
          font-size: 0.9rem;
          padding: 1px 8px;
          border-radius: 50px;
        }
      }

      &[data-sort="1"] {
        &::after {
          content: "finished";
          background-color: color-mix(in srgb, $green 80%, $background-colour 20%);
        }
      }

      &[data-sort="2"] {
        &::after {
          content: "currently reading";
          background-color: color-mix(in srgb, $blue 80%, $background-colour 20%);
        }
      }

      &[data-sort="3"] {
        &::after {
          content: "to be read";
          background-color: color-mix(in srgb, $purple 80%, $background-colour 20%);
        }
      }

      &[data-sort="4"] {
        &::after {
          content: "dropped";
          background-color: color-mix(in srgb, $red 80%, $background-colour 20%);
        }
      }
    }

    &.book-rating {
      display: inline-table;

      span {
        display: block;
        font-family: "Material Symbols";
        font-variation-settings: 'FILL' 1;
        background-color: goldenrod;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

/********** TABLE OF CONTENTS **********/

#toc {
  position: absolute;
  position-anchor: --toc-anchor;
  inset-block-start: anchor(start);
  inset-inline-start: anchor(self-end);
  height: stretch;

  .toc-h1 {
    position: sticky;
    top: calc($header-height + $padding-size);
  }
}