#layout {
  min-height: calc(100dvh - $header-height);
}

.layout-inner {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  margin: $padding-size auto;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

article {
  position: relative;

  > * {
    margin: $padding-size 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

table {
  width: 100%;

   td {
    &.book-rating {
      display: inline-table;

      span {
        display: block;
        font-family: "Material Symbols";
        font-variation-settings: 'FILL' 1;
        background-color: goldenrod;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &.book-date {
      font-family: $mono-font;
    }
  }
}