// colours
$yellow: #fbbc05;
$blue: #4285f4;
$accent-colour: light-dark(#007aff, #00c753);
$background-colour: light-dark(#ffffff, #1c2129);
$text-colour: light-dark(#0f1419, #c4c6cc);
$link-colour: light-dark(#878a8c, #70737a);
$border-colour: light-dark(#d1dbdf, #464a4f);
$card-colour: color-mix(in srgb, $text-colour 30%, $background-colour 70%);
$accent-card: color-mix(in srgb, $accent-colour 30%, $background-colour 70%);
// fonts
$body-font: "Inter", Arial, Helvetica, sans-serif;
$title-font: "Bricolage Grotesque", Arial, Helvetica, sans-serif;
$mono-font: "Google Sans Code"'Courier New', Courier, monospace;
// sizes
$header-height: 80px;
$corner-rounding: 8px;