// colours
$yellow: #fbbc05;
$blue: #4285f4;
$red: #ea4335;
$green: #34a853;
$orange: #e37400;
$purple: #7c5cff;
$pink: #ff61ce;
$accent-colour: light-dark(#727cfa, #72faad);
$background-colour: light-dark(#ffffff, #1c2129);
$text-colour: light-dark(#0f1419, #c4c6cc);
$link-colour: light-dark(#878a8c, #70737a);
$border-colour: light-dark(#d1dbdf, #464a4f);
$card-colour: color-mix(in srgb, $text-colour 20%, $background-colour 80%);
$accent-card: color-mix(in srgb, $accent-colour 30%, $background-colour 70%);
// fonts
$body-font: "Inter", Arial, Helvetica, sans-serif;
$title-font: "Bricolage Grotesque", Arial, Helvetica, sans-serif;
$mono-font: "Google Sans Code", 'Courier New', Courier, monospace;
// sizes
$content-width: 1000px;
$header-height: 100px;
$padding-size: 1.5rem;
$corner-rounding: 8px;