.gutter { width: 0; }
.lineno { color: light-dark(#817F98, #817F98); width: 1.2em; text-align: right; margin-right: 1em; }
.table { border-spacing: 0; }
.highlight .hll { background-color: light-dark(rgba(0,0,0,0.1), rgba(255,255,255,0.1)) }
.highlight { color: light-dark(#37386A, #F4F2FF) }

/* Comments */
.highlight .c { color: light-dark(#817F98, #817F98); font-style: italic } /* Comment */
.highlight .ch { color: light-dark(#817F98, #817F98); font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: light-dark(#817F98, #817F98); font-style: italic } /* Comment.Multiline */
.highlight .cp { color: light-dark(#FF61CE, #FF61CE); font-style: italic } /* Comment.Preproc */
.highlight .cpf { color: light-dark(#817F98, #817F98); font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: light-dark(#817F98, #817F98); font-style: italic } /* Comment.Single */
.highlight .cs { color: light-dark(#817F98, #817F98); font-style: italic } /* Comment.Special */
.highlight .sd { color: light-dark(#817F98, #817F98); font-style: italic } /* Literal.String.Doc */

/* Errors */
.highlight .err { color: light-dark(#FF61CE, #FF61CE); background-color: color-mix(in srgb, #FF61CE 20%, transparent 80%); } /* Error */
.highlight .gr { color: light-dark(#FF61CE, #FF61CE); background-color: color-mix(in srgb, #FF61CE 20%, transparent 80%); } /* Generic.Error */
.highlight .gt { color: light-dark(#FF61CE, #FF61CE); background-color: color-mix(in srgb, #FF61CE 20%, transparent 80%); } /* Generic.Traceback */

/* Operators and Punctuation */
.highlight .o { color: light-dark(#FF61CE, #FF61CE); } /* Operator */
.highlight .ow { color: light-dark(#817FA4, #817FA4); font-style: italic } /* Operator.Word */
.highlight .p { color: light-dark(#817FA4, #817FA4) } /* Punctuation */
.highlight .pm { color: light-dark(#817FA4, #817FA4) } /* Punctuation.Marker */

/* Keywords */
.highlight .k { color: light-dark(#eca842, #FAF172) } /* Keyword */
.highlight .kc { color: light-dark(#eca842, #FAF172) } /* Keyword.Constant */
.highlight .kd { color: light-dark(#eca842, #FAF172) } /* Keyword.Declaration */
.highlight .kn { color: light-dark(#eca842, #FAF172); font-style: italic } /* Keyword.Namespace */
.highlight .kp { color: light-dark(#eca842, #FAF172) } /* Keyword.Pseudo */
.highlight .kr { color: light-dark(#eca842, #FAF172) } /* Keyword.Reserved */
.highlight .kt { color: light-dark(#eca842, #FAF172) } /* Keyword.Type */

/* Literals and Numbers */
.highlight .l { color: light-dark(#5459AF, #BABFFD) } /* Literal */
.highlight .ld { color: light-dark(#5459AF, #BABFFD) } /* Literal.Date */
.highlight .m { color: light-dark(#5459AF, #BABFFD) } /* Literal.Number */
.highlight .mb { color: light-dark(#5459AF, #BABFFD) } /* Literal.Number.Bin */
.highlight .mf { color: light-dark(#5459AF, #BABFFD) } /* Literal.Number.Float */
.highlight .mh { color: light-dark(#5459AF, #BABFFD) } /* Literal.Number.Hex */
.highlight .mi { color: light-dark(#5459AF, #BABFFD) } /* Literal.Number.Integer */
.highlight .mo { color: light-dark(#5459AF, #BABFFD) } /* Literal.Number.Oct */
.highlight .il { color: light-dark(#5459AF, #BABFFD) } /* Literal.Number.Integer.Long */

/* Strings */
.highlight .s { color: light-dark(#06ac90, #72FAAD) } /* Literal.String */
.highlight .sa { color: light-dark(#06ac90, #72FAAD) } /* Literal.String.Affix */
.highlight .sb { color: light-dark(#06ac90, #72FAAD) } /* Literal.String.Backtick */
.highlight .sc { color: light-dark(#06ac90, #72FAAD) } /* Literal.String.Char */
.highlight .dl { color: light-dark(#06ac90, #72FAAD) } /* Literal.String.Delimiter */
.highlight .s2 { color: light-dark(#06ac90, #72FAAD) } /* Literal.String.Double */
.highlight .se { color: light-dark(#06ac90, #72FAAD) } /* Literal.String.Escape */
.highlight .sh { color: light-dark(#06ac90, #72FAAD) } /* Literal.String.Heredoc */
.highlight .si { color: light-dark(#06ac90, #72FAAD) } /* Literal.String.Interpol */
.highlight .sx { color: light-dark(#06ac90, #72FAAD) } /* Literal.String.Other */
.highlight .sr { color: light-dark(#eca842, #FAF172) } /* Literal.String.Regex */
.highlight .s1 { color: light-dark(#06ac90, #72FAAD) } /* Literal.String.Single */
.highlight .ss { color: light-dark(#5459AF, #BABFFD) } /* Literal.String.Symbol */

/* Names */
.highlight .n { color: light-dark(#37386A, #F4F2FF) } /* Name */
.highlight .na { color: light-dark(#727BFA, #727BFA) } /* Name.Attribute */
.highlight .nb { color: light-dark(#eca842, #FAF172) } /* Name.Builtin */
.highlight .bp { color: light-dark(#eca842, #FAF172) } /* Name.Builtin.Pseudo */
.highlight .nc { color: light-dark(#FF61CE, #FF61CE) } /* Name.Class */
.highlight .no { color: light-dark(#5459AF, #BABFFD) } /* Name.Constant */
.highlight .nd { color: light-dark(#727BFA, #727BFA) } /* Name.Decorator */
.highlight .ni { color: light-dark(#817FA4, #817FA4) } /* Name.Entity */
.highlight .ne { color: light-dark(#FF61CE, #FF61CE) } /* Name.Exception */
.highlight .nf { color: light-dark(#727BFA, #727BFA) } /* Name.Function */
.highlight .fm { color: light-dark(#727BFA, #727BFA) } /* Name.Function.Magic */
.highlight .nl { color: light-dark(#727BFA, #727BFA) } /* Name.Label */
.highlight .nn { color: light-dark(#FF61CE, #FF61CE) } /* Name.Namespace */
.highlight .nx { color: light-dark(#5459AF, #BABFFD) } /* Name.Other */
.highlight .py { color: light-dark(#727BFA, #727BFA) } /* Name.Property */
.highlight .nt { color: light-dark(#817F98, #817F98) } /* Name.Tag */
.highlight .nv { color: light-dark(#5459AF, #BABFFD) } /* Name.Variable */
.highlight .vc { color: light-dark(#5459AF, #BABFFD) } /* Name.Variable.Class */
.highlight .vg { color: light-dark(#5459AF, #BABFFD) } /* Name.Variable.Global */
.highlight .vi { color: light-dark(#5459AF, #BABFFD) } /* Name.Variable.Instance */
.highlight .vm { color: light-dark(#5459AF, #BABFFD) } /* Name.Variable.Magic */

/* Generic */
.highlight .g { color: light-dark(#37386A, #F4F2FF) } /* Generic */
.highlight .gd { color: light-dark(#FF61CE, #FF61CE) } /* Generic.Deleted */
.highlight .ge { color: light-dark(#eca842, #FAF172); font-style: italic } /* Generic.Emph */
.highlight .ges { color: light-dark(#eca842, #FAF172) } /* Generic.EmphStrong */
.highlight .gh { color: light-dark(#06ac90, #72FAAD) } /* Generic.Heading */
.highlight .gi { color: light-dark(#06ac90, #72FAAD) } /* Generic.Inserted */
.highlight .go { color: light-dark(#817F98, #817F98) } /* Generic.Output */
.highlight .gp { color: light-dark(#eca842, #FAF172) } /* Generic.Prompt */
.highlight .gs { color: light-dark(#FF61CE, #FF61CE); font-weight: 700 } /* Generic.Strong */
.highlight .gu { color: light-dark(#817FA4, #817FA4) } /* Generic.Subheading */

/* Meta */
.highlight .esc { color: light-dark(#817FA4, #817FA4) } /* Escape */
.highlight .w { color: light-dark(#37386A, #F4F2FF) } /* Text.Whitespace */