<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/styles.scss' | relative_url }}">
    {% seo %}
  </head>

  <body>

   {%- include header.html -%}

    <div id="layout">
      {%- include sidebar.html -%}
      <main>
        <section>
          {{ content }}
        </section>
        <!-- {%- include footer.html -%} --commented out until i add in /_includes-->
      </main>
    </div>

    <script src="{{ '/assets/js/scripts.js' | relative_url }}"></script>

  </body>

</html>